<html>

<head>
    <link rel="stylesheet" href="/css/blogcss.css" />
    <%- include('../views/partials/links'); %>  
   
</head>

<body>

                <!-- header part -->

<nav class="navbar navbar-expand-lg bg-primary navbar-light">
    <div class="container mt-1">
        <h2 class="text-white">QUIZZY</h2>
        <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
            data-target="#collapsenavbar">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-2">
                    <a href="/home" class="nav-link text-white"> HOME </a>
                </li>
                <li class="nav-item px-2">
                    <a href="/all" class="nav-link text-white"> ALL QUIZZES </a>
                </li>
                <li class="nav-item px-2">
                    <a href="/addquiz" class="nav-link text-white"> ADD QUIZ </a>
                </li>
                <li class="nav-item px-2">
                    <a href="/hosted" class="nav-link text-white"> MY HOSTED </a>
                </li>
                <li class="nav-item px-2">
                    <a href="/profile" class="nav-link text-white"> PROFILE </a>
                </li>
                <li class="nav-item px-2">
                    <a href="/logout" class="nav-link text-white"> LOGOUT </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


                    <!-- page content -->

          <div class="container mt-5">
            <div class="d-flex justify-content-center">
                <form class="col-md-6" id="profile" action="/profile" method="post">

                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" class="form-control" id="userName" name="userName" value="<%= users.userName %>" required>
                    </div>
                   
                    <div class="form-group">
                        <label for="emailID">Email ID</label>
                        <input type="text" class="form-control" id="emailID" name="emailID" value="<%= users.emailID %>" required>
                    </div>
                   
                    <div class="form-group"></div>
                        <button class="btn btn-danger mt-2 ml-2"><a href="/home" class="text-light"> BACK </a></button>
                    </div>
                </form>
            </div>
        

    <div class="container mt-5">
        <div class="d-flex justify-content-center">
             <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Marks</th>
                        <th scope="col">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i=1 %>
                <% profile.forEach(ele => { %>
                    
                    <tr>
                        <th scope="row"><%= i %></th>
                        <td><a href="/quiz/<%= ele.id %>"><%= ele.title %></a></td>
                        <td><%= ele.result %></td>
                        <td><% if(ele.result < 8) { %> <p class="text-danger">Fail</p> <% } else { %> <p class="text-success">Pass</p><% } %> </td>
                    </tr>
                    <% i++ %>
                <%  }); %>   
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    
</body>

</html>